@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
  border-radius: 8px;
}

html {
  font-family: Inter, sans-serif;
  @apply antialiased text-gray-900;
}

h2 {
  @apply font-medium text-xl;
}
